{% extends "main.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="card border-0 bg-dark text-white profile-card" style="width: 45rem;">
            <h2 class="mb-3 text-24 font-bold ml-3 mt-3">Profile Settings</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-3 mx-3">
                    <label for="username" class="form-label">Username</label>
                    {{ user_form.username }}
                    {{ user_form.username.errors }}
                </div>

                <div class="mb-3 mx-3">
                    <label for="email" class="form-label">E-mail</label>
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                </div>

                <div class="mb-3 mx-3">
                    <label for="first_name" class="form-label">First Name</label>
                    {{ user_form.first_name }}
                    {{ user_form.first_name.errors }}
                </div>

                <div class="mb-3 mx-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    {{ user_form.last_name }}
                    {{ user_form.last_name.errors }}
                </div>

                <div class="mb-3 mx-3">
                    <label for="description" class="form-label">Description</label>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>

                <div class="mb-3 mx-3">
                    <label for="birth_date" class="form-label">Birth Date</label>
                    {{ form.birth_date }}
                    {{ form.birth_date.errors }}
                </div>

                <div class="mb-3 mx-3">
                    <label for="gender" class="form-label">Gender</label>
                    {{ form.gender }}
                    {{ form.gender.errors }}
                </div>

                <div class="mb-3 mx-3">
                    <label for="avatar" class="form-label">Current Avatar:</label>
                    {% if form.instance.avatar %}
                        <img src="{{ form.instance.avatar.url }}" alt="Current Avatar" style="max-width: 200px; margin-bottom: 10px;">
                    {% endif %}
                    {{ form.avatar }}
                </div>

                <div class="mb-3 mx-3">
                    <button type="submit" class="btn btn-primary">Confirm the profile change</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
