<div class="sidebar bg-dark p-3 border-end border-secondary d-none d-md-block">
    <nav class="text-white nav flex-column">
      <!-- Main Navigation -->
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/">Popular</a>
      <a class="nav-link" href="/">All</a>


      <hr>

      <!-- Custom Feeds -->
      <h6 class="text-uppercase">Custom Feeds</h6>
      <a class="nav-link" href="/"><i class="bi bi-plus"></i> Create a custom feed</a>

      <hr>

      <!-- Communities -->
      <h6 class="text-uppercase">Communities</h6>
      <a class="nav-link" href="/"><i class="bi bi-plus"></i> Create a community</a>
      <a class="nav-link" href="/">{{ community }}</a>

      <hr>

      <!-- Resources -->
      <h6 class="text-uppercase">Resources</h6>
      <a class="nav-link" href="/">About</a>
      <a class="nav-link" href="/r">Advertise</a>
      <a class="nav-link" href="/">Help</a>
    </nav>

      <!-- Footer -->
      <div class="mt-auto">
      <a class="text-white" href="/">All rights reserved.</a>
      </div>
</div>

