{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="text-white card bg-dark border-0 mb-0" style="width: 45rem;">
    <div class="card-body">
        <h6 class="text-white d-flex align-items-center">
            <!-- Аватарка -->
            <img
              src="{{ post.author.profile.avatar.url }}"
              class="rounded-circle"
              alt="{{ profile }}"
              width="40"
              height="40"
            >
            
            <!-- Обёртка для текстовой части -->
            <div class="ms-2 d-flex flex-column">
                <!-- Верхняя строка: Ник + время -->
                <div>
                    <a
                      class="custom-a fw-bold"
                      href="{{ post.author.profile.get_absolute_url }}"
                    >
                        {{ post.author.username }}
                    </a>
                    <span style="color: rgba(255, 255, 255, 0.75);">• {{ post.created|timesince }} ago</span>
                </div>
                
                <!-- Нижняя строка: Категория -->
                <div>
                    <span>in community:</span>
                    <a
                      class="custom-a ms-1"
                      href="#"> <!-- post.community.get_absolute_url-->
                        {{ post.community }}
                    </a>
                </div>
            </div>
        </h6>
        <h4 class="card-title">{{ post.title }}</h4>
        <p style="color: rgba(255, 255, 255, 0.75);">{{ post.description }}</p>
        {% if post.media.all %}
            <div id="carouselPost{{ post.id }}" class="carousel slide" data-bs-interval="false">
                {% if post.media.count > 1 %}
                    <div class="carousel-indicators">
                        {% for media in post.media.all %}
                            <button type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="carousel-inner">
                    {% for media in post.media.all %}
                        <div class="carousel-item mb-3 {% if forloop.first %}active{% endif %}">
                            <div class="media-container" style="background: black; position: relative; width: 100%; aspect-ratio: {{ media.get_aspect_ratio }}; border: 1px solid rgba(173, 173, 173, 0.31); border-radius: 16px; overflow: hidden; max-height: 640px;">
                                {% if media.media_type == 'image' %}
                                    <img src="{{ media.file.url }}" style="position: absolute; top: 50%; left: 0; width: 150%; transform: translateY(-50%) scale(1.2); opacity: 0.3; object-fit: cover; filter: blur(8px);">
                                    <img src="{{ media.file.url }}" style="position: relative; width: 100%; height: 100%; object-fit: contain;">
                                {% elif media.media_type == 'video' %}
                                    <video controls style="width: 100%; height: 100%; object-fit: contain;">
                                        <source src="{{ media.file.url }}" type="video/mp4">
                                    </video>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if post.media.count > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPost{{ post.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div>
        {% endif %}

        <div class="post-toolbar">
            <div class="post-rating-buttons mb-1">
                <button class="btn btn-sm btn-secondary rounded-circle border-0" 
                    data-content-type="{{ post_content_type }}" 
                    data-object-id="{{ post.id }}" 
                    data-value="1">
                    <img src="{% static 'icons/upvote.svg' %}" 
                        data-content-type="{{ post_content_type }}" 
                        data-object-id="{{ post.id }}" 
                        data-value="1" 
                        width="16" height="16" 
                        style="filter: invert(1);">
                </button>
                <span class="post-rating-sum">{{ post.sum_rating }}</span>
                <button class="btn btn-sm btn-secondary rounded-circle border-0" 
                    data-content-type="{{ post_content_type }}"
                    data-object-id="{{ post.id }}"
                    data-value="-1">
                    <img src="{% static 'icons/downvote.svg' %}" 
                        data-content-type="{{ post_content_type }}"
                        data-object-id="{{ post.id }}"
                        data-value="-1" 
                        width="16" height="16" 
                        style="filter: invert(1);">
                </button>
            </div>
            <a href="{{ post.get_absolute_url }}" class="toolbar-button ms-2 mb-1">
                <img src="{% static 'icons/comment.svg' %}" width="16" height="16" style="filter: invert(1);">
                <span>{{ post.comments_count }}</span>
            </a>
            <a href="/" class="toolbar-button ms-2 mb-1">              
                <img src="{% static 'icons/share.svg' %}" width="22" height="22" style="filter: invert(1);">
                Share
            </a>
        </div>
        {% comment %} Comments {% endcomment %}
        <script src="{% static '/utils.js' %}"></script>
        <div class="card border-0 text-white bg-dark" >
            <div class="custom-comments-card-body mt-2">
                {% include 'social_network/comments/comments_list.html' %}
            </div>
        </div>
        
    </div>
</div>
<script src="{% static '/ratings.js' %}"></script>
{% block script %}{% endblock script %}
{% endblock content %}