{% extends 'main.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card border-0 bg-dark text-white profile-card" style='width: 45rem;'>
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Authorization on Network</h4>
            </div>
            <form method="post" action="{% url 'user_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 d-md-block mt-2">
                <button type="submit" class="btn btn-primary mt-2 rounded-4">Log In</button>
             </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}